<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세페이지</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="~{ nav.html::navbar }"></div>

    <div class="detail">
        <h4>상세페이지</h4>
        <img src="https://placehold.co/300">
        <h4 th:text="${items.title}"></h4>
        <p th:text="${items.price + '원'}"></p>
    </div>

    <form method="post" action="/comment">
        <input type="text" name="content" style="display : inline">
        <input type="hidden" name="parentId" th:value="${items.id}">
        <button>등록</button>
    </form>

    <div th:each="comment : ${comments}">
        <div th:text="${comment.username}"></div>
        <div th:text="${comment.content}"></div>
    </div>
</body>
</html>