<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>
    마이페이지
    <div sec:authentication="principal"></div>
    <div sec:authentication="principal.username"></div>
    <div sec:authorize="hasAuthority('ROLE_Admin')">
        hasAuthority('권한') 가지고 있는 경우에만 보임
    </div>
    <div sec:authorize="isAuthenticated()">
        로그인 한 유저만 보임
        <a href="/logout">로그아웃</a>
    </div>
    <div sec:authorize="isAnonymous()">
        로그아웃 한 유저만 보임
    </div>
</body>
</html>